{%include "NavTest.html"%}
{% block body %}
<body>
    <div class="container">
        <h1>About</h1>
        <br />
        <div class="row">
        <div class="col s8">
        <p>Hey, I am Vaishnavi Singh. I am a fresh graduate from Christ University, Bangalore with a degree in Bachelors of Computer Applications.
            I am a web-developer with my ideal Tech Stack as Mongoose, Express, Node and React.
        </p><br /> 
        <p>
            I am a keen learner; always looking around for new inspirations and technologies to use for my upcoming projects.
            I am an open-source enthusiast. Being visual by nature, I currently want to dig deep into Frontend developement
            and later merge into Full-Stack developement.
        </p>
        </div>
        </div>
    </div>
</body>
{% endblock %}
<style>
   body{
       background: #212121;
       color: wheat;
       overflow: hidden;
   }
   h1{
       color: #00897b;
   }
   p{
       font-size: x-large;
       align-content: stretch;
   }
   .container{
        position: absolute;
        top: 25%;
        left: 40%;
        transform: translate(-20%,-20%);
    }
</style>