<!--
{%include "index.html"%}
{%include "nav.html"%}
{% block body %}
<body>
    <div class="container">
        <h1>Contact me</h1>
        <form action="post">
            <div class="row">
                <div class="input-field col s6">
                    <input id="name" type="text">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="email" type="email">
                    <label for="email">Email</label>
                </div>
                <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <textarea id="message" class="materialize-textarea"></textarea>
                          <label for="message">Message</label>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="row">
                    <a href="#submission" class="btn modal-trigger">Submit</a>
                    <div class="modal" id="submission">
                        <div class="modal-content">
                            <h4>Got it!</h4>
                            <p>I have recieved your message and will try to revert back as soon as possible</p>
                        </div>
                        <div class="modal-footer">
                            <a href="/" class="btn">Okay</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        <p>You can catch me on:</p>
        <div class="row">
            <div class="col s1">
                <a href="https://www.linkedin.com/in/vaishnavi-singh/">
                    <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col s1">
                <a href="https://github.com/singhvaishnavi">
                    <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col s1">
                <a href="https://angel.co/u/vaishnavisingh">
                    <i class="fa fa-angellist fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col s1">
                <a href="https://twitter.com/Vaishnavi1509">
                    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    
    </div>
</body>
<style>
    body{
        background: #212121;
        color: #fff;
    }
    .fa{
        color: #0ace9d;
    }
    .fa:hover{
        color: #fff;
    }
</style>

<script>
    document.getElementById("name").onclick = function() {
    this.style.color = '#fff';
}
document.getElementById("email").onclick = function() {
    this.style.color = '#fff';
}
document.getElementById("message").onclick = function() {
    this.style.color = '#fff';
}
document.getElementById("name").onfocus = function() {
    this.style.color = '#fff';
}
document.getElementById("email").onfocus = function() {
    this.style.color = '#fff';
}
document.getElementById("message").onfocus = function() {
    this.style.color = '#fff';
}
//document.getElementById("btn").onclick = function() {
//    alert("Thank you for your message. I will try to get back to you as soon as possible");
//}
$(document).ready(function(){
    $('.modal').modal();
});

</script>
<style>
    body{
        background: #212121;
        color: #fff;
    }
    .fa{
        color: #fff;
    }
    .btn{
         background: #00897b;
    }
    .btn:hover{
        background:#0ace9d;
    }
    .modal{
        background: #212121;
    }
    .modal .modal-footer{
        margin: 20;
        padding: 20;
        background: #212121;
    }
    .modal .modal-content p{
        font-size: large;
    }
    
 </style>
 {% endblock %}
-->