{%include "NavTest.html"%}
{% block body %}
<body>
    <div class="container">
        <h1>Projects</h1>
        <br />
        <table>
            <tr>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Restuarant Analysis and Recommendation<i class="material-icons right">more_vert</i></span>
                        <p>
                            This project focuses on analysing the reviews of customers for restaurants on Zomato and perform analysis to finally show
                            the key points that are crucial in deciding if a restaurant is doing well or not. Furthermore this previously analysed datail are
                            used to predict the feasibility of a newly opened restaurant, that allows them to choose for better practices to gain better
                            customer base.
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Restuarant Analysis and Recommendation<i class="material-icons right">close</i></span>
                        
                        <div class="modal-footer">
                            <a href="https://github.com/singhvaishnavi/ZAAR" class="btn">See Project</a>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">E-Notice<i class="material-icons right">more_vert</i></span>
                        <p>
                            E-Notice is a notice management system. E-notice is a system which tackles the unawareness among students in Christ for a 
                            better campus life. This website allows all users to view the different events happening in the college campus and can be a
                            part of it.
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">E-Notice<i class="material-icons right">close</i></span>
                        
                        <div class="modal-footer">
                            <a href="https://github.com/snehalbaghel/notice-ui" class="btn">See Project</a>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Hostelo<i class="material-icons right">more_vert</i></span>
                        <p>
                            Hostelo is a new system designed to help users find PGs or hostels in a particular locality. The search can be filtered based
                            upon desired facilities and features provided by the establishments. The search can also be based upon sorting the cost of
                            the room’s available, distance from a landmark or ratings and reviews.
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Hostelo<i class="material-icons right">close</i></span>
                        
                        <div class="modal-footer">
                            <a href="https://github.com/singhvaishnavi/Hostelo" class="btn">See Project</a>
                        </div>
                    </div>
                </div>
            </tr>
        </table>

            </div>
    
    </div>
          <!--
        <div class="row">
            <div class="col s12 m8">
              <div class="card-panel">
                <span class="card-title">ZAAR- Zomato Analysis and Recommendations</span>
                <div class="card-content">
                    <hr /> 
                    <p>
                        This project focuses on analysing the reviews of customers for restaurants on Zomato and perform analysis to finally show
                        the key points that are crucial in deciding if a restaurant is doing well or not. Furthermore this previously analysed datail are
                        used to predict the feasibility of a newly opened restaurant, that allows them to choose for better practices to gain better
                        customer base.
                    </p>
                  </div>
              </div>
            </div>
          </div>      
    </div>
    -->
</body>
{% endblock %}
<style>
   body{
       background: #212121;
       color: wheat;
       overflow: hidden;
   }
   h1{
       color: #00897b;
   }
   p{
       color: black;
   }
   .card-content p{
       color: black;
       font-size: medium;
   }
   .container{
        position: absolute;
        top: 15%;
        left: 30%;
        right: 10%;
        transform: translate(-20%,-20%);
   }
</style>